.Card {
  position: relative;
  background-color: black;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.showBack {
  transform: rotateY(180deg) perspective(1000px);
}

.CardFront,
.CardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.CardBack {
  background-color: blanchedalmond;
  transform: rotateY(180deg);
}

.CardFront {
  background-color: cadetblue;
}

.CardFront > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
