.animatedGameboard {
  width: 40rem;
  height: 40rem;
}
.GameboardContainer {
  width: 100%;
  height: 100%;
}
.Gameboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(var(--gameboardSize), 1fr);
  grid-template-rows: repeat(var(--gameboardSize), 1fr);
  gap: 1rem;
}

/*MEDIA QUERY**********************************************************/
@media screen and (max-width: 1280px), (max-height: 720px) {
  .animatedGameboard {
    width: 30rem;
    height: 30rem;
  }
}
