.animatedGameboard {
  position: relative;
  width: 600px;
  height: 600px;
}
.GameboardContainer {
  width: 100%;
  height: 100%;
}
.Gameboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(var(--gameboardSize), 1fr);
  grid-template-rows: repeat(var(--gameboardSize), 1fr);
  gap: 15px;
}
